<!DOCTYPE html>
<html>
<head>
  <title> <%= @title %> </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" type="image/ico" href="/assets/favicon.ico" />
</head>
<body>
  <div class ="<%= @bg %>"></div>
  <div class ="wrapper">
    <div class ="<%= @header %>">
      <div class = "header-container">
        <a href="/">
          <span class = "dadler">dadler</span>
        </a>
        <span class = "page"><%=@header_page%></span>
      </div>
    </div>

    <%= yield %>

  </div>
</body>
</html>
