<!DOCTYPE html>
<html>
<head>
  <title> <%= @title %> </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" type="image/ico" href="/assets/favicon.ico" />
</head>
<body>
  <div class ="<%= @bg %>"></div>
  <div class ="wrapper">
    <div class ="<%= @header %>">
      <div class = "header-container">
        <a href="/">
          <span class = "dadler">dadler</span>
        </a>
        <span class = "page"><%=@header_page%></span>
      </div>
    </div>

    <%= yield %>

    <% if @footer %>
        <div class ="<%= @footer %>">
          <div class ="footer-main-container">
            <div class =footer-left-container>
                <a href ="https://github.com/danieladler/"/>
                  <%= image_tag "github.svg" %>
                  <!-- <img src ="/assets/github.svg" class ="icon"/> -->
                </a>
                <a href ="http://twitter.com/adlerography"/>
                  <%= image_tag "twitter.svg" :class => "icon"%>
                  <!-- <img src ="/assets/twitter.svg" class ="icon"/> -->
                </a>
                <a href ="http://instagram.com/dadler"/>
                  <%= image_tag "instagram.svg" :class => "icon"%>
                  <!-- <img src ="/assets/instagram.svg" class ="icon"/> -->
                </a>
                <a href ="http://www.rdio.com/people/dadler"/>
                  <%= image_tag "rdio.svg" :class => "icon"%>
                  <!-- <img src ="/assets/rdio.svg" class ="icon"/> -->
                </a>
                <a href ="https://www.linkedin.com/pub/daniel-adler/13/a59/a45"/>
                  <%= image_tag "linkedin.svg" :class "icon"%>
                  <!-- <img src ="/assets/linkedin.svg" class ="icon"/> -->
                </a>
                <a href ="mailto:daniel@dadler.codes" target="_top"/>
                  <%= image_tag "email.svg" :class "icon"%>
                  <!-- <img src ="/assets/email.svg" class ="icon"/> -->
                </a>
            </div>
            <div class="footer-right-container">
              <ul class = "footer-links">
                <li> <%= link_to "About",     "/about" %> </li>
                <li> <%= link_to "Portfolio", "/portfolio" %></li>
              </ul>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</body>
</html>
